* text=auto !eol
/.cproject -text
/.project -text
/README.txt -text
uMod_DX9/makefile.gcc -text
uMod_DX9/makefile.vc -text
uMod_DX9/uMod_ArrayHandler.cpp -text
uMod_DX9/uMod_ArrayHandler.h -text
uMod_DX9/uMod_DX9_dll.cpp -text
uMod_DX9/uMod_DX9_dll.h -text
uMod_DX9/uMod_DX9_dll_DIRECT_INJECTION.def -text
uMod_DX9/uMod_DX9_dll_HOOK_INJECTION.def -text
uMod_DX9/uMod_DX9_dll_NO_INJECTION.def -text
uMod_DX9/uMod_Defines.h -text
uMod_DX9/uMod_IDirect3D9.cpp -text
uMod_DX9/uMod_IDirect3D9.h -text
uMod_DX9/uMod_IDirect3D9Ex.cpp -text
uMod_DX9/uMod_IDirect3D9Ex.h -text
uMod_DX9/uMod_IDirect3DCubeTexture9.cpp -text
uMod_DX9/uMod_IDirect3DCubeTexture9.h -text
uMod_DX9/uMod_IDirect3DDevice9.cpp -text
uMod_DX9/uMod_IDirect3DDevice9.h -text
uMod_DX9/uMod_IDirect3DDevice9Ex.cpp -text
uMod_DX9/uMod_IDirect3DDevice9Ex.h -text
uMod_DX9/uMod_IDirect3DTexture9.cpp -text
uMod_DX9/uMod_IDirect3DTexture9.h -text
uMod_DX9/uMod_IDirect3DVolumeTexture9.cpp -text
uMod_DX9/uMod_IDirect3DVolumeTexture9.h -text
uMod_DX9/uMod_Main.h -text
uMod_DX9/uMod_TextureClient_DX9.cpp -text
uMod_DX9/uMod_TextureClient_DX9.h -text
uMod_DX9/uMod_TextureFunction.cpp -text
uMod_DX9/uMod_TextureFunction.h -text
uMod_DXMain/uMod_TextureClient.cpp -text
uMod_DXMain/uMod_TextureClient.h -text
uMod_DXMain/uMod_TextureServer.cpp -text
uMod_DXMain/uMod_TextureServer.h -text
/uMod_Error.h -text
uMod_GUI/bin/README_Deutsch.txt -text
uMod_GUI/bin/README_English.txt -text
uMod_GUI/bin/languages/Example_uMod_LanguagePack_English.txt -text
uMod_GUI/bin/languages/uMod_LanguagePackU_Deutsch.txt -text
uMod_GUI/bin/languages/uMod_LanguagePackU_French.txt -text
uMod_GUI/bin/languages/uMod_LanguagePackU_Russian.txt -text
uMod_GUI/config.gcc -text
uMod_GUI/config.vc -text
uMod_GUI/makefile.gcc -text
uMod_GUI/makefile.vc -text
uMod_GUI/uMod.ico -text
uMod_GUI/uMod.rc -text
uMod_GUI/uMod_AddTexture.cpp -text
uMod_GUI/uMod_AddTexture.h -text
uMod_GUI/uMod_Client.cpp -text
uMod_GUI/uMod_Client.h -text
uMod_GUI/uMod_DirectInjection.cpp -text
uMod_GUI/uMod_DirectInjection.h -text
uMod_GUI/uMod_Event.cpp -text
uMod_GUI/uMod_Event.h -text
uMod_GUI/uMod_File.cpp -text
uMod_GUI/uMod_File.h -text
uMod_GUI/uMod_GUI.cpp -text
uMod_GUI/uMod_GUI.h -text
uMod_GUI/uMod_GameInfo.cpp -text
uMod_GUI/uMod_GameInfo.h -text
uMod_GUI/uMod_GamePage.cpp -text
uMod_GUI/uMod_GamePage.h -text
uMod_GUI/uMod_Language.cpp -text
uMod_GUI/uMod_Language.h -text
uMod_GUI/uMod_Main.h -text
uMod_GUI/uMod_Sender.cpp -text
uMod_GUI/uMod_Sender.h -text
uMod_GUI/uMod_Server.cpp -text
uMod_GUI/uMod_Server.h -text
uMod_GUI/uMod_Settings.cpp -text
uMod_GUI/uMod_Settings.h -text
uMod_GUI/unzip.cpp -text
uMod_GUI/unzip.h -text
uMod_GUI/zip.cpp -text
uMod_GUI/zip.h -text
/uMod_GlobalDefines.h -text
