# IDE
*.vs
*.user
*.settings
*.vscode
*.project
*.cproject

# Build directories
Release
Debug
bin/
*/Debug
*/Release
*/bin
*/obj

# Bloated Windows Databases
*.sdf
*.opensdf
*.suo
*.exp
*.db
*.pdb
*.idb
*.ilk
*.opendb
*.log
*.lastbuildstate

# Compiled files
*.slo
*.lo
*.o
*.obj
*.exe
*.wxs
*.wixobj
*.msi

# Precompiled Headers
*.gch
*.pch
*.idb
*.pdb
*.opendb
*.wixpdb

/out
/build

.idea