* text=auto !eol
OTM_DX9/OTM_ArrayHandler.cpp -text
OTM_DX9/OTM_ArrayHandler.h -text
OTM_DX9/OTM_DX9_dll.cpp -text
OTM_DX9/OTM_DX9_dll.h -text
OTM_DX9/OTM_DX9_dll_DIRECT_INJECTION.def -text
OTM_DX9/OTM_DX9_dll_HOOK_INJECTION.def -text
OTM_DX9/OTM_DX9_dll_NO_INJECTION.def -text
OTM_DX9/OTM_Defines.h -text
OTM_DX9/OTM_IDirect3D9.cpp -text
OTM_DX9/OTM_IDirect3D9.h -text
OTM_DX9/OTM_IDirect3D9Ex.cpp -text
OTM_DX9/OTM_IDirect3D9Ex.h -text
OTM_DX9/OTM_IDirect3DCubeTexture9.cpp -text
OTM_DX9/OTM_IDirect3DCubeTexture9.h -text
OTM_DX9/OTM_IDirect3DDevice9.cpp -text
OTM_DX9/OTM_IDirect3DDevice9.h -text
OTM_DX9/OTM_IDirect3DDevice9Ex.cpp -text
OTM_DX9/OTM_IDirect3DDevice9Ex.h -text
OTM_DX9/OTM_IDirect3DTexture9.cpp -text
OTM_DX9/OTM_IDirect3DTexture9.h -text
OTM_DX9/OTM_IDirect3DVolumeTexture9.cpp -text
OTM_DX9/OTM_IDirect3DVolumeTexture9.h -text
OTM_DX9/OTM_Main.h -text
OTM_DX9/OTM_TextureClient.cpp -text
OTM_DX9/OTM_TextureClient.h -text
OTM_DX9/OTM_TextureFunction.cpp -text
OTM_DX9/OTM_TextureFunction.h -text
OTM_DX9/OTM_TextureServer.cpp -text
OTM_DX9/OTM_TextureServer.h -text
OTM_DX9/makefile.gcc -text
OTM_DX9/makefile.vc -text
/OTM_Error.h -text
OTM_GUI/OTM.ico -text
OTM_GUI/OTM.rc -text
OTM_GUI/OTM_AddTexture.cpp -text
OTM_GUI/OTM_AddTexture.h -text
OTM_GUI/OTM_Client.cpp -text
OTM_GUI/OTM_Client.h -text
OTM_GUI/OTM_DirectInjection.cpp -text
OTM_GUI/OTM_DirectInjection.h -text
OTM_GUI/OTM_Event.cpp -text
OTM_GUI/OTM_Event.h -text
OTM_GUI/OTM_File.cpp -text
OTM_GUI/OTM_File.h -text
OTM_GUI/OTM_GUI.cpp -text
OTM_GUI/OTM_GUI.h -text
OTM_GUI/OTM_GameInfo.cpp -text
OTM_GUI/OTM_GameInfo.h -text
OTM_GUI/OTM_GamePage.cpp -text
OTM_GUI/OTM_GamePage.h -text
OTM_GUI/OTM_Language.cpp -text
OTM_GUI/OTM_Language.h -text
OTM_GUI/OTM_Main.h -text
OTM_GUI/OTM_Sender.cpp -text
OTM_GUI/OTM_Sender.h -text
OTM_GUI/OTM_Server.cpp -text
OTM_GUI/OTM_Server.h -text
OTM_GUI/OTM_Settings.cpp -text
OTM_GUI/OTM_Settings.h -text
OTM_GUI/bin/README_Deutsch.txt -text
OTM_GUI/bin/README_English.txt -text
OTM_GUI/bin/languages/Example_OTM_LanguagePack_English.txt -text
OTM_GUI/bin/languages/OTM_LanguagePackU_Deutsch.txt -text
OTM_GUI/bin/languages/OTM_LanguagePackU_Russian.txt -text
OTM_GUI/config.gcc -text
OTM_GUI/config.vc -text
OTM_GUI/makefile.gcc -text
OTM_GUI/makefile.vc -text
OTM_GUI/unzip.cpp -text
OTM_GUI/unzip.h -text
OTM_GUI/zip.cpp -text
OTM_GUI/zip.h -text
/OTM_GlobalDefines.h -text
