# IDE
*.vs
*.user
*.settings
*.vscode
*.project
*.cproject
*.vcproj
*.vcxproj
*.vcxproj.filters
**/CMakeFiles/**
cmake_install.cmake
CMakeCache.txt
*.sln
*.rc
/*.dir

# Build directories
Release
Debug
bin/
*/Debug
*/Release
*/bin
*/obj

# Bloated Windows Databases
*.sdf
*.opensdf
*.suo
*.exp
*.db
*.pdb
*.idb
*.ilk
*.opendb
*.log
*.lastbuildstate

# Compiled files
*.slo
*.lo
*.o
*.obj
*.exe
*.wxs
*.wixobj
*.msi

# Precompiled Headers
*.gch
*.pch
*.idb
*.pdb
*.opendb
*.wixpdb

**/RelWithDebInfo/
**/Debug/
/bin
/win32
/out
/build
/_deps

.idea